h1 {
    text-align: center;
    color: steelblue;
}

.flex-container {
    width: 500px;
    height: 500px;
    background: lightblue;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.flex-item {
    background: tomato;
    color: #fff;  
}

.flex-item:nth-child(odd) {  /* Selecciona elementos impares */
    background: teal;
}

/* .flex-item:nth-child(2) {
    height: 200px;
} */

footer {
    padding-top: 3em;
    text-align: center;
}